*{
	margin: 0;
	padding: 0;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
header{
	display: flex;
}

.nav{
	display: flex;

}




/* CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT CONTENT */