footer{

background-color: black;
font-family: Arial, Helvetica, sans-serif

}


form{


color: lightgrey;


}

h3{


text-decoration: underline;


}

.Sociaisdiv{

text-decoration: underline;
padding: 8px 16px;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100px;

}





.Rua{

color: lightgrey;

}

.Contatos{

display: block;
padding: 8px 16px;
float: right;

}


